doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet' href='/css/starter-template.css')
		script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(src='/js/imagesloaded.pkgd.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js')
		script(src='/js/script.js')
	block content