extends layout

block content
	//usernav.jade include
	include usernav
	// Modal
	#alpha.modal.fade
		.modal-dialog
			.modal-content
				.modal-body
					p One fine body&mldr;
	// Modal
	#login.modal.fade
		.modal-dialog
			.modal-content
				.modal-body
					p One fine body&mldr;
	// Modal
	#myModal.modal.fade
		.modal-dialog
			.modal-content
				.modal-body
					p One fine body&mldr;
	//grid.jade include
	include grid