extends layout

block content
	//usernav.jade include
	include nav

	form.login-form.form-horizontal(action='/login', method='post')
		.form-group
			h2 Log In
			hr
			label Name
			input#name.form-control(name='username' type='name', placeholder='Name')
			label Password 
			input#password.form-control(name='password' type='password', placeholder='Password') 
			.footer
				button.btn.btn-primary(type='submit') Login