script(src='/js/test.js')
body
    .modal-body
        
    .content.col-md-offset-6.col-sm-offset-6.col-xs-offset-1
        h4#title
        p#director
        p#actor1
        p#year
    .footer   
