div.modal-body
	h4
		b 비밀번호 변경
		hr
	form.form-horizontal(action='/#{username}/passwordchange', method='post')
		label current password
		input#password.form-control(name='current' type='password', placeholder='Password')
		label new Password
		input#password.form-control(name='new' type='password', placeholder='Password')
		label new Password confirm
		input#password.form-control(name='confirm' type='password', placeholder='Password')
		.foot
			button.btn.btn-primary(type='submit') change