extends layout

block content
	//usernav.jade include
	include nav
	
	form.login-form.form-horizontal(method='post')
		.form-group
			h2 Sign Up
			hr
			label name
			input#username.form-control(name='username' type='text', placeholder='name')
			label Password                
			input#password.form-control(name='password' type='password', placeholder='Password')                  
			label Password Check                
			input#password2.form-control(name='password2' type='password', placeholder='Password Check')             
			.footer
				button.btn.btn-primary(type='submit') Sign Up