body {
    padding: 30px 15px;
}
.form-group{
    padding: 30px;
}
.footer{
    padding: 60px;
}

.grid-item {
    width: 295px;
    height: 400px;
    float: left;
    margin: 30px;
}

#remember-me {
    float: left;
    margin-right: 10px
}

ul	{list-style:none;}
ul li	{list-style:none;}

#myModal .modal-dialog{
	width: 850px;
}



